<!DOCTYPE html>
<html>
<head>
    <title>Lista de Pets</title>
</head>
<body>
    <h1>Lista de Pets</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Raça</th>
            <th>Editar pet</th>
            <th>Excluir pet</th>
        </tr>
        {% for pet in pets %}
        <tr>
            <td>{{ pets['Nome'] }}</td>
            <td>{{ pets['Raça'] }}</td>
            <td><a href="/editar-pet/{{ pet['id'] }}">Editar</a></td>
            <td><a href="/excluir-pet/{{ pet['id'] }}">Excluir</a></td>
        </tr>
        {% endfor %}
    </table>
    <br><a href="/cadastrar_pet">Adicionar pet</a>
</body>
</html>
